.header-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: rgb(21, 21, 138);
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
    color: black;
}

a {
    text-decoration: none;
}



.page {
    top: 150px;
    color: black;
    position: relative;
    margin: auto;
    text-align: center;
}