

body { 
  background: url('./Images/background-images/Background-image-orange.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    opacity: 95%;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    background-color: rgb(21, 21, 138);
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

a {
    
    color: white;
}

.page {
    top: 125px;
    color: white;
    position: relative;
    margin: auto;
    text-align: center;
}

.home-summary {
    width: 60%;
    margin-top: 3%;
    font-size: 25px;
    text-align: left;
    position: relative;
    left: 15px;
    color: white;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    margin-top: 200px;
}

.image-container {
    margin: 10px;
}

.image {
    height: 300px;
    border: 3px solid rgb(21, 21, 138);
}

.image-text {
    color: black;
    margin: 20px auto;
    text-align: center;
    text-decoration: underline;
}

.trick-image-gallery, .invision-image-gallery, .rps-image-gallery {
    width: 75%;
    margin: 200px auto;
}

.trick-image-container, .invision-image-container, .rps-image-container {
    width: 100%;
    margin: 75px auto;
    text-align: center;
}

.trick-image-container img, .invision-image-container img, .rps-image-container img {
    width: 100%;
    margin: auto;
    border: 3px solid rgb(21, 21, 138);
}

.trick-summary {
    margin-top: 20px;
    font-family: italic;
    font-size: 1.5em;
    width: 75%;
}

.github-link {
    margin-top: 20px;
}

.contact-container {
    width: 75%;
    margin: auto;
}

.contact-info {
    text-align: left;
}

.me-image {
    margin-left: 100px;
    width: 25%;
    height: 25%;
    border: 1px solid white;
    border-radius: 100%;
    
}

.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;

}

.image-text {
    color: white;
}